body{
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'arial';
}
.the-price{
  font-size: 35px;
}
.up{
  color: green;
}
.down{
  color: red;
}
.noChange{
  color: grey;
}